*,::before,::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
  }
  
  li {
    
    float: left;
    margin-right: 10px;
    padding: 0 4px;
  }
body{
  padding: 0 2rem;
  background: rgb(11,18,31);
  background: radial-gradient(circle, rgba(11,18,31,1) 0%, rgba(21,51,75,1) 45%, rgba(0,89,120,1) 100%); 
  color: black;
}
main{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  
}
h1,h2{
  color: #FFF;
  text-align: center;
}
/* .checks{
  background: #b5b5b6;
  appearance: none;
}
.checks:checked {
  background: rgb(159,239,0);
  background: radial-gradient(circle, rgba(159,239,0,1) 0%, rgba(116,174,32,1) 45%, rgba(39,56,45,1) 100%); 
} */

#Info-Partida{
  
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.pokemon-user{
  display: flex;
  flex-direction: column;
  background-color: #9fef00;
  border-radius: 2rem;
  padding: 1rem;
  max-width: 10rem;
  gap: .5rem;
}
.pokemon-pc{
  display: flex;
  flex-direction: column;
  background-color: #f83e3d;
  border-radius: 2rem;
  padding: 1rem;
  max-width: 10rem;
  gap: .5rem;
}
.pokemon-card{
  background-color: #AFBB97;
  font-size: .8rem;
  border: solid 1px #8995af;
  border-radius: .5rem;
  padding: 1rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .25rem;
  & > p{
    margin: 0;
  }
  & > figure{
    margin: 0;
    width: 4rem;
    & > img{
      width: 100%;
    }
    & > figcaption{
      text-align: center;
    }
  }
}

table {
  table-layout: fixed; /* Fijar el diseño de la tabla */
  width: 50rem; /* Ancho total de la tabla */
  border-collapse:collapse;
  
  font-family:'Questrial',Arial, Helvetica, sans-serif ;
}

th{
  padding:2rem;
  font-weight: 700;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, #ff4241, #ad1716);
  border: 1px solid black;
}
table>tbody td {
  width: 80px; /* Ancho fijo para las celdas */
  height: 80px; /* Alto fijo para las celdas */
  border: 0.2px solid black; /* Añadir bordes para una mejor visualización */
  text-align: center; /* Centrar contenido dentro de las celdas */
  
}

table img {
  max-width: 100%; /* Hacer que las imágenes se ajusten al ancho de la celda */
  max-height: 100%; /* Hacer que las imágenes se ajusten al alto de la celda */
  display: block; /* Evitar espacios en blanco no deseados debajo de las imágenes */
  margin: 0 auto; /* Centrar las imágenes horizontalmente */
}

form{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 200px;
}